/* Google Font Style */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Section */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 45px 200px;
}

.header-section {
    text-align: center;
}

.banner {
    width: 100%;
}

.header-text {
    max-width: 650px;
    margin: 0 auto;
}

.header-title {
    color: #131313;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.header-description {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.primary-button {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 18px 24px;
    color: white;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 32px;
}

/* Nav Section */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    padding-right: 0px;
    gap: 20px;
}

nav li {
    list-style: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

nav>ul>li>a {
    text-decoration: none;
    color: #424242;
}

.logo {
    color: #131313;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

/* Gallery Container Styles */

.gallery-container {
    display: flex;
    align-items: center;
    padding: 0px 30px;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0px;
}

.team-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.black {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.red {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* main styles */

main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Fact Container Styles */
.fact-container {
    padding-top: 70px;
    margin-bottom: 100px;
}

.fact-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;
}

.fact-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 542px;
}

.fact-icon {
    display: flex;
    justify-content: space-between;
    margin: 0px 60px;
}

.fact-icon>div {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px 40px;
}

.fact-icon-title {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-icon-description {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}

/* Sponsor section styles */

.sponsors-container {
    margin-top: 170px;
    margin-bottom: 70px;
}

.sponsors-content {
    margin-bottom: 70px;
    text-align: center;
}

.sponsors-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sponsors-description {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0px;
    max-width: 542px;
    margin: 0 auto;
}

.sponsors-image {
    display: flex;
    justify-content: space-evenly;
}

/* Footer styles */

.footer-container {
    background-color: #FFF4E7;
    text-align: center;
    padding: 40px 400px;
    margin-top: 100px;
}

.footer-text {
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

/* Responsive Responsive Queries */

/* Responsive Mobile Device */

@media screen and (max-width:576px) {
    header {
        padding: 0px 10px;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav {
        flex-direction: column;
    }

    nav ul {
        padding: 0px 0px;
    }

    .gallery-container {
        flex-direction: column-reverse;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .team-content {
        padding: 0px 0px;
        text-align: center;
    }

    .fact-description {
        width: auto;
    }

    .fact-container {
        padding: 0px 10px;
        text-align: center;
    }

    .fact-icon {
        flex-direction: column;
    }

    .fact-icon>div {
        margin-bottom: 20px;
    }

    .sponsors-image {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .sponsors-container {
        padding: 0px 20px;
    }

    .sponsors-image img {
        width: 70%;
        padding-bottom: 20px;
    }
    .footer-container {
        padding: 20px 20px;
        margin-top: 100px;
    }
}

/* Responsive Medium Device */

@media screen and (min-width:576px) and (max-width:960px) {
    .nav {
        flex-direction: column;
    }

    nav ul {
        padding: 0px 20px;
    }

    header {
        padding: 0px 40px;
    }

    .gallery-container {
        flex-direction: column-reverse;
    }

    .fact-container {
        padding: 0px 100px;
        text-align: center;
    }

    .fact-description {
        width: auto;
    }

    .fact-icon {
        flex-direction: column;
    }

    .fact-icon>div {
        margin-bottom: 20px;
    }

    .sponsors-image {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }

    .sponsors-image img {
        width: 70%;
        align-content: center;
    }

    .sponsors-container {
        margin: 0 auto;
    }
    .footer-container {
        padding: 20px 20px;
        margin-top: 100px;
    }
}